<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySqlConnexion" connectionString="server=420.cstj.qc.ca;userid=gestresto;password=62Gc6cLFw;database=5a5_a14_gestresto" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>