**/bin/
**/obj/
**/Debug/
**GestResto.v12.suo
GestResto/GestResto.v12.suo
GestResto/GestResto.v12.suo
GestResto/GestResto.Logic/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.suo
GestResto/GestResto.v12.suo